.percentage-button {
    width: 100%;
    max-width: 185px;
    height: 55px;
}

.calculator-card{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {

    .calculator-card{
        padding: 0;
        border-radius: 0;
    }
  }